<div class="user-form">
  <% if flash[:errors] %>
    <ul class="flash-errors">
      <% flash[:errors].try(:each) do |error| %>
        <li class="alert alert-danger"><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <h1>Make User</h1>

  <form action="<%= users_create_path %>" method="POST" role="form">
    <%= render partial: 'partials/authenticity_token' %>

    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" name="user[username]" id="userName" class="form-control">
    </div>

    <div class="form-group">
      <label for="userPassword">Password</label>
      <input type="password" name="user[password]" id="userPassword" class="form-control">
    </div>

    <button class="btn btn-primary sign-in-button">Create</button>
  </form>
</div>
