<h1><%= @event.name %></h1>
<h2><%= @event.date %></h2>
<ul>
  <% @tournaments.each do |tournament| %>
    <li><a href="<%= tournaments_show_path tournament %>">
      <%= tournament.name %>
    </a></li>
  <% end %>
</ul>