@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "events";
@import "tournaments";
@import "pools";

.container-max-width {
  max-width: 850px;
}

.delete-form-button {
  display: inline-block;
}

.sortable-item-cursor {
  cursor: pointer;
}
